### Mongodb Aggregate And Group
1. avg
2. sum
3. project

In [4]:
from pymongo import MongoClient  
    
# creation of object MongoClient  
client=MongoClient()  
    
# Connect with the portnumber and host  
client = MongoClient("mongodb://localhost:27017/")  
    
# Access database  
mydatabase = client['Students']  
    
# Access collection of the database  
collection=mydatabase['studentscores']  
data = [ 
    {"user":"Krish", "subject":"Database", "score":80}, 
    {"user":"Amit",  "subject":"JavaScript", "score":90}, 
    {"user":"Amit",  "title":"Database", "score":85}, 
    {"user":"Krish",  "title":"JavaScript", "score":75}, 
    {"user":"Amit",  "title":"Data Science", "score":60},
    {"user":"Krish",  "title":"Data Science", "score":95}] 
  
collection.insert_many(data)

InsertManyResult([ObjectId('66e9b6edf2c10c4ec9568f31'), ObjectId('66e9b6edf2c10c4ec9568f32'), ObjectId('66e9b6edf2c10c4ec9568f33'), ObjectId('66e9b6edf2c10c4ec9568f34'), ObjectId('66e9b6edf2c10c4ec9568f35'), ObjectId('66e9b6edf2c10c4ec9568f36')], acknowledged=True)

In [6]:
### Find Amit And Krish Total Subjects
agg_result= collection.aggregate( 
    [{ 
    "$group" :  
        {"_id" : "$user",  
         "Total Subject" : {"$sum" : 1} 
         }} 
    ])

In [7]:
for i in agg_result: 
    print(i)

{'_id': 'Krish', 'Total Subject': 12}
{'_id': 'Amit', 'Total Subject': 12}

In [8]:
### Calculating the total score based on user
agg_result= collection.aggregate( 
    [{ 
    "$group" :  
        {"_id" : "$user",  
         "Total Marks" : {"$sum" :"$score"} 
         }} 
    ]) 
for i in agg_result: 
    print(i)

{'_id': 'Krish', 'Total Marks': 1000}
{'_id': 'Amit', 'Total Marks': 940}

In [9]:
### Calculating the average score based on user
agg_result=collection.aggregate([
   {
      "$group": {
         "_id": '$user',
         "StudentScoreAverage": {
            "$avg": "$score"
         }
      }
   }
])
for i in agg_result: 
    print(i)

{'_id': 'Krish', 'StudentScoreAverage': 83.33333333333333}
{'_id': 'Amit', 'StudentScoreAverage': 78.33333333333333}

In [10]:
import datetime as datetime

In [16]:
### Create a new collection
data=[{ "_id" : 1, "item" : "abc", "price" : 10, "quantity" : 2, "date" : datetime.datetime.utcnow()},
{ "_id" : 2, "item" : "jkl", "price" : 20, "quantity" : 1, "date" : datetime.datetime.utcnow() },
{ "_id" : 3, "item" : "xyz", "price" : 5, "quantity" : 5, "date" : datetime.datetime.utcnow() },
{ "_id" : 4, "item" : "abc", "price" : 10, "quantity" : 10, "date" : datetime.datetime.utcnow() },
{ "_id" : 5, "item" : "xyz", "price" : 5, "quantity" : 10, "date" :datetime.datetime.utcnow() }]

In [11]:
data

[{'user': 'Krish',
  'subject': 'Database',
  'score': 80,
  '_id': ObjectId('66e9b6edf2c10c4ec9568f31')},
 {'user': 'Amit',
  'subject': 'JavaScript',
  'score': 90,
  '_id': ObjectId('66e9b6edf2c10c4ec9568f32')},
 {'user': 'Amit',
  'title': 'Database',
  'score': 85,
  '_id': ObjectId('66e9b6edf2c10c4ec9568f33')},
 {'user': 'Krish',
  'title': 'JavaScript',
  'score': 75,
  '_id': ObjectId('66e9b6edf2c10c4ec9568f34')},
 {'user': 'Amit',
  'title': 'Data Science',
  'score': 60,
  '_id': ObjectId('66e9b6edf2c10c4ec9568f35')},
 {'user': 'Krish',
  'title': 'Data Science',
  'score': 95,
  '_id': ObjectId('66e9b6edf2c10c4ec9568f36')}]

In [12]:
mycollection=mydatabase['stores']  
mycollection.insert_many(data)

InsertManyResult([ObjectId('66e9b6edf2c10c4ec9568f31'), ObjectId('66e9b6edf2c10c4ec9568f32'), ObjectId('66e9b6edf2c10c4ec9568f33'), ObjectId('66e9b6edf2c10c4ec9568f34'), ObjectId('66e9b6edf2c10c4ec9568f35'), ObjectId('66e9b6edf2c10c4ec9568f36')], acknowledged=True)

In [13]:
### Calculating the average quantity And Average Price
agg_result=mycollection.aggregate([
   {
      "$group": {
         "_id": '$item',
         "avgAmount": {"$avg": {"$multiply": [ "$price", "$quantity" ]}},
          "avgQuantity": { "$avg": "$quantity" }
      }
   }
])
for i in agg_result: 
    print(i)

{'_id': None, 'avgAmount': None, 'avgQuantity': None}

In [14]:
#### $Project

data=[{
  "_id" : 1,
  "title": "abc123",
  "isbn": "0001122223334",
  "author": { "last": "zzz", "first": "aaa" },
  "copies": 5
},
{
  "_id" : 2,
  "title": "Baked Goods",
  "isbn": "9999999999999",
  "author": { "last": "xyz", "first": "abc", "middle": "" },
  "copies": 2
}
]

In [15]:
# Access collection of the database  
collection=mydatabase['Books']

In [16]:
collection.insert_many(data)

InsertManyResult([1, 2], acknowledged=True)

In [17]:
for row in collection.aggregate( [ { "$project": { "title": 1,"isbn":1 } } ] ):
    print(row)

{'_id': 1, 'title': 'abc123', 'isbn': '0001122223334'}
{'_id': 2, 'title': 'Baked Goods', 'isbn': '9999999999999'}