## Mango Db with Python- Querying Json Documents

In [1]:
import pymongo

client=pymongo.MongoClient('mongodb://127.0.0.1:27017/')

mydb=client['Employee']
empinfo=mydb.employeeinformation

In [4]:
record={
        'firstname':'Ku45rish',
        'lastname':'Naifgk',
        'department':'Analfgytics',
        'qualification':'BfgE',
        'age':269
        }
empinfo.insert_one(record)

InsertOneResult(ObjectId('66e90da06a3698c2f5305673'), acknowledged=True)

In [5]:
records=[{
        'firstname':'John',
        'lastname':'Doe',
        'department':'Analytics',
        'qualification':'statistics',
        'age':35
        
        },
         {
        'firstname':'John ',
        'lastname':'Smith',
        'department':'Analytics',
        'qualification':'masters',
        'age':30
        
        },
        {
        'firstname':'Manish',
        'lastname':'Sen',
        'department':'Analytics',
        'qualification':'phd',
        'age':34
        
        },
        {
        'firstname':'Ram',
        'lastname':'Singh',
        'department':'Analytics',
        'qualification':'master',
        'age':32
        
        }]

In [6]:
empinfo.insert_many(records)

InsertManyResult([ObjectId('66e90dc76a3698c2f5305674'), ObjectId('66e90dc76a3698c2f5305675'), ObjectId('66e90dc76a3698c2f5305676'), ObjectId('66e90dc76a3698c2f5305677')], acknowledged=True)

In [8]:
## Simple way of querying
empinfo.find_one()

{'_id': ObjectId('66e86b38c420c5366a10db23'),
 'firstname': 'Sundar',
 'age': 11,
 'dept': 'Boss'}

In [9]:
## Select * from employeeinformation
for record in empinfo.find({}):
    print(record)

{'_id': ObjectId('66e86b38c420c5366a10db23'), 'firstname': 'Sundar', 'age': 11, 'dept': 'Boss'}
{'_id': ObjectId('66e90d726a3698c2f5305671'), 'firstname': 'Krish', 'lastname': 'Naik', 'department': 'Analytics', 'qualification': 'BE', 'age': 29}
{'_id': ObjectId('66e90d7e6a3698c2f5305672'), 'firstname': 'Kurish', 'lastname': 'Naik', 'department': 'Analytics', 'qualification': 'BE', 'age': 29}
{'_id': ObjectId('66e90da06a3698c2f5305673'), 'firstname': 'Ku45rish', 'lastname': 'Naifgk', 'department': 'Analfgytics', 'qualification': 'BfgE', 'age': 269}
{'_id': ObjectId('66e90dc76a3698c2f5305674'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('66e90dc76a3698c2f5305675'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('66e90dc76a3698c2f5305676'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('66e90dc76a3698c2f5305677'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [11]:
## Query the json documents based on equality conditions
# Select * from employeeinformation where firstname=krish

for record in empinfo.find({'firstname':'Sundar'}):
    print(record)

{'_id': ObjectId('66e86b38c420c5366a10db23'), 'firstname': 'Sundar', 'age': 11, 'dept': 'Boss'}

In [24]:
## Query documents using query operators($in,$lt,$gt)
for record in empinfo.find({'qualification':{'$in':['phd','master','BE']}}):
    print(record)

{'_id': ObjectId('66e90d726a3698c2f5305671'), 'firstname': 'Krish', 'lastname': 'Naik', 'department': 'Analytics', 'qualification': 'BE', 'age': 29}
{'_id': ObjectId('66e90d7e6a3698c2f5305672'), 'firstname': 'Kurish', 'lastname': 'Naik', 'department': 'Analytics', 'qualification': 'BE', 'age': 29}
{'_id': ObjectId('66e90dc76a3698c2f5305676'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('66e90dc76a3698c2f5305677'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [16]:
## And and Query operators
for record in empinfo.find({'qualification':'master','age':{'$lt':35}}):
    print(record)

{'_id': ObjectId('66e90dc76a3698c2f5305677'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [28]:
## OR operators
for record in empinfo.find({'$or':[{'firstname':'Krish'},{'qualification':'BE'}]}):
    print(record)

{'_id': ObjectId('66e90d726a3698c2f5305671'), 'firstname': 'Krish', 'lastname': 'Naik', 'department': 'Analytics', 'qualification': 'BE', 'age': 29}
{'_id': ObjectId('66e90d7e6a3698c2f5305672'), 'firstname': 'Kurish', 'lastname': 'Naik', 'department': 'Analytics', 'qualification': 'BE', 'age': 29}

In [29]:
inventory=mydb.inventory

In [30]:
inventory.insert_many( [
   { 'item': "journal", 'qty': 25, 'size': { 'h': 14, 'w': 21,'uom': "cm" }, 'status': "A" },
   { 'item': "notebook", 'qty': 50,'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "A" },
   { 'item': "paper", 'qty': 100, 'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "D" },
   { 'item': "planner", 'qty': 75, 'size': { 'h': 22.85,'w': 30,'uom': "cm" },'status': "D" },
   { 'item': "postcard", 'qty': 45, 'size': { 'h': 10, 'w': 15.25,'uom': "cm" },'status': "A" }
]);

In [31]:
for records in inventory.find({'size': { 'h': 14, 'w': 21,'uom': "cm" }}):
    print(records)

{'_id': ObjectId('66e9106a6a3698c2f5305678'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('66e91eda6a3698c2f530567d'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('66e91ee36a3698c2f5305682'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('66e93a266a3698c2f5305687'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('66e93ad56a3698c2f530568c'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}